.reveal p {
  text-align: left;
}
.reveal h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}


/*
  Fix plantuml output image whose background
  is transparent so that we have proper contrast.

  Also, remove those ugly borders.
*/
.reveal .pmw .plantuml-output img {
  border-style: none;
  background-color: darkgrey;
  margin: 0px 0px;
  box-shadow: none;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.reveal .pmw div.plantuml-output {
  margin: 0.5em 0;
  height: 90vh;
}

.reveal .pmw .plantuml-output p {
  margin: 0px 0;
  line-height: 1.3;
  height: 100%;
}

.reveal .pmw .plantuml-code pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 0.5em;
  word-wrap: break-word;
  box-shadow: none;
}

.reveal .pmw div.plantuml-code {
  margin: 0.5em 0;
}

.reveal .pmw .plantuml-code div.sourceCode {
  margin: 0em 0;
}

.reveal .pmw .plantuml-code pre.sourceCode {
  margin: 0;
}

.reveal .pmw .plantuml-code pre code {
  display: block;
  padding: 15px;
  overflow: auto;
  max-height: 100%;
  word-wrap: normal;
}

/*
.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 0.5em;
  word-wrap: break-word;
  box-shadow: none;
}


.reveal div.sourceCode {
  margin: 0em 0;
}

.reveal pre.sourceCode {
  margin: 0;
}

.reveal pre code {
  display: block;
  padding: 15px;
  overflow: auto;
  max-height: 100%;
  word-wrap: normal;
}

*/